<div class='menuitem'><a href="javascript:window.demo.enrollOneStudentFormEnable()">Enrol a Student</a></div>
<div class='menuitem'><a href="javascript:window.demo.enrolledStudentList()">Enrolled Students/Attendance</a></div>
<div class='menuitem'><a href="javascript:window.demo.signOut()">SignOut</a></div>

